# Server
PORT=10000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/e-voting?retryWrites=true&w=majority
JWT_SECRET=your-jwt-secret-change-in-production
ENCRYPTION_KEY=your-32-char-aes-encryption-key

# OTP (Email)
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USER=your-smtp-user@email.com
EMAIL_PASS=your-smtp-password
FROM_EMAIL=your-verified-sender@email.com
